body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
} */

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* Style for rounding corners on edit-task column */

.round-right {
  
  border-bottom-right-radius: 1rem;
  padding-left: 0.2rem;  
  border-top-right-radius: 1rem;
}

/* Style for custom-border around time */

.time-wrap {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey; 
  
}
/* Style for div that is holding task text p and textarea */

.task-wrapper {
  border-left: 2px solid black;
  border-right: 2px solid black; 
}

.task-wrapper:hover {
  border: 2px solid black; 
  opacity:0.8; 
  cursor: pointer; 
}

/* Style the size for the textarea input for the task-update*/
.task-text {
  border: none;
  border-radius: 0.2rem; 
  width: 100%; 
  height: 95%; 
  left: 0%;
  top: 1%;
  padding-left: 0.2rem;  
}

/* Style the regular task p */
.task-p {
  width: 100%; 
  height: 95%; 
  left: 0.5%; 
  top: 5%; 
  padding-left: 0; 
  margin: 0;  
  position: absolute; 
}

/* Style for save-task button */

.save-task {
  transition: background-color 2s; 
}
.save-task:hover {
  border: 1.5px solid black;
  opacity: 0.9; 
  cursor: pointer; 
}

textarea {
  outline:none; 
  width: 100%;
  height: 100%;
  margin: 0; 
  border: none; 
}

textarea:focus {
  outline: none; 
  border:none; 
}


